*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}
body{
    width: 100vw;
    overflow-x: hidden;

    display: grid;
    grid-template-rows: 1fr fit-content(100%);


    background-color: var(--bgColor);
    color: var(--textColor);

    font-family: var(--ff-content);
    font-size: var(--fs-400);

    hyphens: auto;

    &::-webkit-scrollbar{
        background-color: var(--bgColor);
        background-color: transparent;
        display: none;
    }
    &::-webkit-scrollbar-track{
        display: none;
    }
    &::-webkit-scrollbar-thumb{
        background-color: var(--scrollbarThumb);
    }


    & > *{
        box-sizing: border-box;
    }
}




h1,h2,h3,h4{
    font-family: var(--ff-heading);
}
h1{
    font-size: var(--fs-800);
}
h2{
    font-size: var(--fs-700);
}
h3{
    font-size: var(--fs-600);
}
h4{
    font-size: var(--fs-500);
}

.title{
    margin-block: .5em 1em;
}



p{
    margin-bottom: 1em;
}



a{
    color: var(--linkColor);
    text-decoration: none;

    transition: var(--ts-def);

    &:hover{
        text-decoration: underline;
    }
}

button{
    padding: 1em 1.5em;


    font-family: var(--ff-content);
    font-size: var(--fs-300);
    font-weight: bold;
    letter-spacing: 1pt;

    border: none;
    transition: var(--ts-fast);

    &:hover{
        cursor: pointer;
    }
    
    &.theme--dark{
        background: var(--black);
        color: var(--white);
    }
    &.theme--light{
        background: var(--white);
        color: var(--black);
    }
    &.theme--primary{
        background: linear-gradient(to top, var(--primary) 50%, var(--black) 50%) bottom;
        background-size: 100% 200%;
        color: var(--white);
    }


    &.animate--fade-in{
        transition: var(--ts-def);
        opacity: .8;
        &:hover{
            opacity: 1;
        }
    }
    &.animate--fade-out{
        transition: var(--ts-def);
        opacity: 1;
        &:hover{
            opacity: .8;
        }
    }


    /* &.animation--delete{
        position: relative;
        &::before, &::after{
            content: '';
            position: absolute;
            left: calc(50% - 12px);
            bottom: calc(50% - 26px);
            
            display: inline-block;

    
            padding: 25px 5px;
            border-radius: 10px;
    
            background: inherit;
            transition: var(--ts-def);
        }
        
        &:hover{
            &::before{
                transform: rotate(45deg);
                background: red;
            }
            &::after{
                transform: rotate(-45deg);
                background: red;
            }
        }
    } */
}